---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import Link from '../components/Link.astro';
---

<Layout title="Thomas Taylor | Software Engineer">
  <main>
    <div class="prose prose-sm prose-h1:-mb-4 mt-14 mb-8">
      <h1>Thomas Taylor</h1>
      <p>Software Engineer</p>
    </div>
    <div class="prose prose-sm mb-8">
      <h2>About</h2>
      <p>Hello, my name is Thomas. I enjoy building scalable product-driven software. I'm interested in infrastructure, DevOps, and data.</p>
    </div>
    <div class="prose prose-sm mb-8">
      <h2>Work Experience</h2>
      <Experience
        title="Software Engineer"
        description="Some description here"
        company="nCino"
        start="2022"
        end="Present"
        tools={['TS', 'AWS', 'AWS CDK', 'Databricks', 'Glue']}
      />
      <Experience
        title="Software Engineer"
        description="Some description here"
        company="nCino"
        start="2022"
        end="Present"
        tools={['TS', 'AWS', 'AWS CDK', 'Databricks', 'Glue']}
      />
      <Experience
        title="Software Engineer"
        description="Some description here"
        company="nCino"
        start="2022"
        end="Present"
        tools={['TS', 'AWS', 'AWS CDK', 'Databricks', 'Glue']}
      />
      <Experience
        title="Software Engineer"
        description="Some description here"
        company="nCino"
        start="2022"
        end="Present"
        tools={['TS', 'AWS', 'AWS CDK', 'Databricks', 'Glue']}
      />
    </div>
    <div class="prose prose-sm mb-8">
      <h2>Links</h2>
      <Link name="Blog" handle="how.wtf" url="https://how.wtf" />
      <Link name="GitHub" handle="@thomasnotfound" url="https://github.com/thomasnotfound" />
      <Link name="LinkedIn" handle="@thomasnotfound" url="https://linkedin.com/in/thomasnotfound" />
      <Link name="Twitter" handle="@thomasnotvalid" url="https://twitter.com/thomasnotvalid" />
    </div>
	</main>
</Layout>
